@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/MontserratAlternates-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/src/assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sniglet';
    src: url('/src/assets/fonts/Sniglet-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
