@import 'primeicons/primeicons.css';
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
    html {
        @apply font-quicksand;
    }
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.p-password > div.relative {
    width: 100%;
}
